{% extends 'base.html' %}

{% load widget_tweaks %}
{% load static %}

{% block header %}
EDIT BANNER
{% endblock %}

{% block dir %}
<li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
<li class="breadcrumb-item"><a href="{% url 'campaign_home' %}">Banners</a></li>
<li class="breadcrumb-item">Edit</li>
<li class="breadcrumb-item active">{{ instance.readable_name }}</li>
{% endblock %}

{% block content %}

<div class="container mt-5">
  <div class="card card-info">
    <div class="card-header">
      <h3 class="card-title">Edit Banner "{{ instance.name }}"</h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    <form class="form-horizontal" method="POST">
      {% csrf_token %}
      <div class="card-body">

        {% if form.errors %}
        <div class="container">
          {% for field in form %}
          {% for error in field.errors %}
          <div class="alert alert-danger">
            {{ error }}  
          </div>
          {% endfor %}
          {% endfor %} 
        </div>
        {% endif %}

        <div class="form-group row">
          <label for="" class="col-sm-2 col-form-label">Campaign</label>
          <div class="col-sm-10">
            {% render_field form.campaign class="form-control" %}
          </div>
        </div>
        <div class="form-group row">
          <label for="" class="col-sm-2 col-form-label">Name</label>
          <div class="col-sm-10">
            {% render_field form.name class="form-control" %}
          </div>
        </div>
        <div class="form-group row">
          <label for="" class="col-sm-2 col-form-label">Type</label>
          <div class="col-sm-10">
            {% render_field form.type class="form-control" %}
          </div>
        </div>
        <div class="form-group row">
          <label for="" class="col-sm-2 col-form-label"><span class="text-success"></span> File</label>
          <div class="col-sm-10">
            <div class="input-group">
              <div class="custom-file">
                {% render_field form.file class="custom-file-input" accept="application/zip" id="file_eng" %}
                <label for="file" class="custom-file-label">Choose file</label>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="form-group row">
          <label for="" class="col-sm-2 col-form-label"><span class="text-success">Ar</span> File</label>
          <div class="col-sm-10">
            <div class="input-group">
              <div class="custom-file">
                {% render_field form.file_ar class="custom-file-input" accept="application/zip" id="file_ar" %}
                <label for="file_ar" class="custom-file-label">Choose file</label>
              </div>
            </div>
          </div>
        </div> -->
      </div>
      <!-- /.card-body -->
      <div class="card-footer">
        <button type="submit" class="btn btn-info px-5">Save Changes</button>
        <a href="{% url 'banner_home' %}" class="btn btn-default float-right">Cancel</a>
        <a href="{% url 'delete_banner' instance.id %}" class="btn btn-danger float-right mr-3">Delete</a>
      </div>
      <!-- /.card-footer -->
    </form>
  </div>
</div>

{% endblock %}

{% block js %}

<script>
  const customFiles = document.querySelectorAll('.custom-file')

  customFiles.forEach(file => {
    const content = file.innerHTML
    const info = document.createElement('div')
    const parent = file.parentElement

    file.innerHTML = content.replace('Change:', '')
    
    info.innerHTML = content
    info.innerHTML = info.innerHTML.replace('Change:', '')

    info.removeChild(info.querySelector('input'))
    info.removeChild(info.querySelector('label'))
    
    parent.style.flexDirection = 'column'
    parent.appendChild(info)
  })
</script>
{% endblock %}